  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .padding-left-10 {
    padding-left: 10px;
  }
  
  .align-right {
    float: right;
  }